{% extends 'main_layout.html' %}

{% block content %}

<div class="page-header">
  <h1>Threads</h1>
  <a href="#" class="btn btn-default">New Thread</a>
</div>

<div class="container">
{% for thread in threads %}
  <div class="row">
    <div class="col-md-6">
      <a href="{{ url_for('posts', thread_id=thread.thread_id) }}">
        {{ thread.title }}</a>
    </div>
    <div class="col-md-3">Author: <a href="#">{{ thread.author }}</a> -
      {{ thread.created_time }}</div>
    <div class="col-md-3">Last: <a href="#">{{ thread.last }}</a> -
      {{ thread.last_post_time }}</div>
  </div>
  <hr />
{% endfor %}
</div>

{% endblock %}